@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #faf9f6;
    --foreground: #1a1c1a;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer utilities {
  .glass-effect {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
